.navbar-nav
  .btn-group.ingresarComo
    button( title="Ingresar como"  
            class="btn dropdown-toggle " 
            type="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
            ) 
      i(class="bi bi-list")
    ul(class=" dropdown-menu dropdown-menu-end")
     each rol in roles
      li
       a(class="dropdown-item" href=(rol==="Administrativo"?"http://localhost:3000/admins2"
                                                           :rol==="Recepcionista"?"http://localhost:3000/admins"
                                                                                 :rol==="Bioquímico" || rol==="Técnico"?"http://localhost:3000/tecBioq"
                                                                                                                       :rol==="paciente"?"http://localhost:3000/pacientes"
                                                                                                                                        :"" 
                                                           ))= `${rol} `
     li
      a(class="dropdown-item" id="salir" href="salir") Cerrar sesión   
script(src="https://accounts.google.com/gsi/client")
script.
   document.addEventListener('DOMContentLoaded', function() {
    var userEmail = '#{email}';
    document.getElementById('salir').addEventListener('click',(e)=>{
         google.accounts.id.initialize({
      client_id: '961283639807-dbu75hn2c1eckvf47ho7lltkhi7an950.apps.googleusercontent.com',
    });
           google.accounts.id.disableAutoSelect(); 
           google.accounts.id.revoke(userEmail, done=>{
         
      })
         
      })
   });