extends layout
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/formValorRef.css')
include ./formDeterminacion.pug
block content 
   .row.justify-content-center 
    .col-lg-9.col-xxl-8
     .row
      include ./menuLateralDeterminacion.pug
      .col.bordeAzul
       .row
        .col 
         div.d-flex.justify-content-center
          .container.divFormulario
                  div#ancla1
                    h2.subtitulo-h2 Determinación
                  .container
                      div.form-div 
                       div
                        label(for="nombre") Nombre 
                       div 
                        span= determinacion.Parametro.nombre
                      div.form-div 
                       div
                        label(for="codigo") Código 
                       div.form-div-input 
                        span= determinacion.codigo
                      div.form-div 
                       div
                        label(for="tags") Tags 
                       div 
                        span= determinacion.tags
                      div.form-div     
                       div
                        label(for="selectId") unidades
                       div
                        each u in determinacion.Parametro.Unidads
                         div 
                          p= u.unidad
                      div.form-div
                       div
                        label(for="detInput") Determinaciones incluidas  
                       div
                        .row.mt-4.justify-content-center
                         .row.mt-4.justify-content-center
                          .col-md-auto.position-relative 
                           each hijo in parametroHijos
                            div 
                             p= hijo.id+'-'+hijo.nombre
                      
