mixin formMuestra(btnContent,action,muestra)
 .container.form-valorRef
  div#ancla1
    h2.subtitulo-h2 Muestra
  .container
   form(action=action method="POST" name="formMuestra" )
      if muestra
       input(type="hidden" name="id" value=muestra.id)
      div.form-div 
       div
        label(for="nombre") Nombre 
       div 
        input(type="text" 
              placeholder="Nombre"
              id="nombre" 
              name="nombre"
              autocomplete="off"
              value=muestra?muestra.nombre:""
              disabled=muestra?true:false) 
      
 
 
      
      div.form-btn.divSubmit(class=`btnsEditarMuestra ${muestra?"hidden":""}`)  
       a(href=``) 
         button.btn.btn-secondary#btnCancelarValorRef(type="button") Cancelar 
       button.btn.btn-primary#btnSubmitDet(type="submit")= btnContent


