.container
 form(action="http://localhost:3000/tecBioq/" method="POST" name="formDet")
    input(type="hidden" name="DeterminacionId") 
    div.form-div 
     div
      label(for="nombre") Nombre 
     div 
      input(type="text" 
            id="nombre" 
            name="nombre"
            autocomplete="off") 
    div.form-div 
     div
      label(for="codigo") Código 
     div.form-div-input 
      input(type="text" 
            id="codigo" 
            name="codigo"
            autocomplete="off") 
    div.form-div 
     div
      label(for="tags") Tags 
     div 
      input(type="text" 
            id="tags" 
            name="tags"
            autocomplete="off") 
    div.form-div 
     div
      label(for="DeterminacionId") Pertenece a: 
     div 
         input#determinacion( name="determinacion",autocomplete="off", placeholder="Type to search...",required)
         .col-md-auto.position-relative
          div.position-absolute.z-3(style="top:1rem;" class="contenedorLista")  
           ul(id="listaDeterminaciones")
   
    div.form-btn   
      button.btn.btn-primary Enviar  
          
 script( type="module" src='/javascripts/tecBioq/formDet.js')         