mixin formDeterminacion(btnContent,action,determinacion)
 .container.form-valorRef
  div
    h2.subtitulo-h2 Determinación
  .container
   form(action=action method="POST" name="formDet" )
      if determinacion
       input(type="hidden" name="id" value=determinacion.id)
      div.form-div 
       div
        label(for="nombre") Nombre 
       div 
        input(type="text" 
              placeholder="Nombre"
              id="nombre" 
              name="nombre"
              autocomplete="off"
              value=determinacion?determinacion.nombre:""
              disabled=determinacion?true:false) 
      div.form-div 
       div
        label(for="codigo") Código 
       div.form-div-input 
        input(type="text" 
              placeholder="123456"
              id="codigo" 
              name="codigo"
              autocomplete="off"
              value=determinacion?determinacion.codigo:""
              disabled=determinacion?true:false) 
      div.form-div 
       div
        label(for="tags") Tags 
       div 
        input(type="text" 
              id="tags" 
              placeholder="tag1, tag2,..."
              name="tags"
              autocomplete="off"
              value=determinacion?determinacion.tags:""
              disabled=determinacion?true:false) 
      div#form-div-unidad 
       div.d-flex      
        div
         label(for="unidad") unidades
        div 
         select( 
               id="unidad" 
               name=`unidad`)  
          option(value=`no unidad`) no unidad           
          option(value=`agregarUnidad`) Agregar una unidad            
          each unidad in unidades        
           option(value=`${unidad.unidad}`)= unidad.unidad 
        if(vrUnidades)
         each unidad in vrUnidades
          div.option-unidad
           span= unidad.unidad        
           input(type="hidden"  name="unidades" value= `${unidad.unidad}`)
           input(type="hidden"  name="unidadesId" value= `${unidad.id}`)
           div(role="button")
               svg(tabindex="0" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#261290" class="bi bi-x-circle" viewBox="0 0 16 16")
                 path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16")
                 path(d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708")
       div.hidden#divAddUnidad 
        input(type="text")
        button(type='button' id="btnAddUnidad") agregar unidad a la lista
        button(type='button' id="btnQuitarInput") X
      div.form-div
       div
        label(for="detInput") Determinación en la que está incluida  
       div
        .row.mt-4.justify-content-center
         .row.mt-4.justify-content-center
          .col-md-auto.position-relative 
           input(type="text" 
                 id="detInput" 
                 name="detInput"
                 value=determinacionPadre?determinacionPadre.nombre:""
                 autocomplete="off"
                 placeholder="seleccione una determinación"
                 disabled=determinacion?true:false)   
           div.position-absolute.z-3(style="top:2rem;" class="contenedorLista")  
            ul(id="listaDeterminaciones")
         .row.mt-4.justify-content-center
          .col-md-auto.d-flex.align-items-center 
           div 
              ul(id="listaDeterminacionesSeleccionadas")          
               if determinacionPadre 
                each det in determinacionPadre
                 li(class="liDeterminaciones")= `${det.codigo}-${det.nombre}`
                  input(type="hidden"  name="det" value= `${det.codigo}-${det.nombre}`)
                  input(type="hidden"  name="detId" value= `${det.id}`)        
     
     
     
     
 
 
 
      
      div.form-btn.divSubmit(class=`${determinacion?"hidden":""}`)   
       button.btn.btn-primary#btnSubmitDet(type="submit")= btnContent
script( type="module" src='/javascripts/tecBioq/formDeterminacion.js')



mixin formValorReferencia(btnContent,action,determinacion)
 .container.form-valorRef
  div
   h2.subtitulo-h2 Valores de referencia
  .container
   form(action=action method="POST" name="formValorRef" )
      input(type="hidden" name="id" value=determinacion.id)
      - const arrSex=['Femenino','Masculino','Ambos']
      each sex in arrSex 
       div.vrXsexo
        div#tituloSexo
         div
          h2.subtitulo-h2= sex
         div.btnAddVR(title="Agregar valor de referncia")
            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#261290" class="bi bi-plus-circle" viewBox="0 0 16 16")
              path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16")
              path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
        
        each valorRef in valoresRef[sex] 
         div.valorRef
          div
           div.form-div-vr 
            div.d-flex
             div.me-3
              label(for="nota") Nota
             div 
              input(type="text" 
                    id="nota" 
                    name=`nota${sex}`
                    autocomplete="off"
                    value=valorRef.nota
                    disabled=determinacion?true:false) 
           div.form-div-vr
            div.d-flex 
             div.me-3
              label(for="edadMin") Edad mínima
             div 
              input(type="text" 
                    id="edadMin" 
                    name=`edadMin${sex}`
                    autocomplete="off"
                    value=valorRef.edadMin
                    disabled=determinacion?true:false)
            div.d-flex 
             div.me-3
              label(for="unidadMin") unidad
             div 
              select( 
                    id="unidadMin" 
                    name=`unidadMin${sex}`)  
               option(value="Días", selected=valorRef.unidadMin === 'Días') Días
               option(value="Meses", selected=valorRef.unidadMin === 'Meses') Meses
               option(value="Años", selected=valorRef.unidadMin === 'Años') Años   
               option(value="-", selected=valorRef.unidadMin === '-') -   
           div.form-div-vr       
            div.d-flex        
             div.me-3
              label(for="edadMax") Edad máxima 
             div 
              input(type="text" 
                    id="edadMax" 
                    name=`edadMax${sex}`
                    autocomplete="off"
                    value=valorRef.edadMax
                    disabled) 
            div.d-flex 
             div.me-3
              label(for="unidadMax") unidad
             div 
              select( 
                    id="unidadMax" 
                    name=`unidadMax${sex}`)  
               option(value="Días", selected=valorRef.unidadMax === 'Días') Días
               option(value="Meses", selected=valorRef.unidadMax === 'Meses') Meses
               option(value="Años", selected=valorRef.unidadMax === 'Años') Años   
               option(value="-", selected=valorRef.unidadMax === '-') -        
           div.form-div-vr 
            div.d-flex
             div.me-3
              label(for="valorMin") Valor mín.
             div 
              input(type="text" 
                    id="valorMin" 
                    name=`valorMin${sex}`
                    autocomplete="off"
                    value=valorRef.valorMin
                    disabled=determinacion?true:false)
            div.d-flex
             div.me-3
              label(for="valorMax") Valor máx.
             div 
              input(type="text" 
                    id="valorMax" 
                    name=`valorMax${sex}`
                    autocomplete="off"
                    value=valorRef.valorMax
                    disabled=determinacion?true:false)        
      
          div.acciones 
           div(title="Eliminar" class="btnCruzVR")
            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#261290" class="bi bi-x-circle" viewBox="0 0 16 16")
              path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16")
              path(d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708")
        
          
      div.form-btn.hidden.divSubmit   
       button.btn.btn-primary#btnSubmitValorRef(type="submit")= btnContent
      
script( type="module" src='/javascripts/tecBioq/formVr.js')