mixin formExamen(btnContent,examen)
 .container
  form(action="http://localhost:3000/tecBioq?_method=put" method="POST" name="formExamen" )
     input(type="hidden" name="id" value=examen.id)
     div.form-div 
      div
       label(for="nombre") Nombre 
      div 
       input(type="text" 
             id="nombre" 
             name="nombre"
             autocomplete="off"
             value=examen.nombre
             disabled) 
     div.form-div 
      div
       label(for="codigo") Código 
      div.form-div-input 
       input(type="text" 
             id="codigo" 
             name="codigo"
             autocomplete="off"
             value=examen.codigo
             disabled) 
     div.form-div 
      div
       label(for="tags") Tags 
      div 
       input(type="text" 
             id="tags" 
             name="tags"
             autocomplete="off"
             value=examen.tags
             disabled) 
     div.form-div 
      div
       label(for="MuestraId") Muestra 
      div 
       select.form-select#selectMuestra(name="MuestraId" disabled)
        each muestra in muestras
             option(value=muestra.id selected=(muestra.id===examen.Muestra.id)) #{muestra.nombre}
     div.form-div 
      div
       label(for="tiempoProcesamiento") Tiempo de procesamiento(minutos) 
      div 
       input(type="text" 
             id="tiempoProcesamiento" 
             name="tiempoProcesamiento"
             autocomplete="off"
             value=examen.tiempoProcesamiento
             disabled)   
     div.form-div 
      div
       label(for="laboratorioQueLoRealiza") Laboratorio que lo realiza 
      div 
       input(type="text" 
             id="laboratorioQueLoRealiza" 
             name="laboratorioQueLoRealiza"
             autocomplete="off"
             value=examen.laboratorioQueLoRealiza
             disabled) 
     
     
     
 
 
 
      
     div.form-btn   
      button.btn.btn-primary#btnEditar(type="button")= btnContent 
script( type="module" src='/javascripts/tecBioq/formExamen.js')       
           
 