mixin inputSearch(action,placeholder,btn,href="#")
 .container
  form(class="d-flex " role="search" action=action)
      div.divSpanSearch
       span.spanSearch
         i(class="bi bi-search")
         input(class="me-2 inputSearchDeterminacion" type="search" 
               placeholder=placeholder aria-label="Search" autofocus name="inputSearch" value=inputSearch?inputSearch:'' onfocus="this.select()" autocomplete="off")
         //- para la query
         input(type="hidden" name="group" value=1)
         input(type="hidden" name="page" value=1)
         if queryString
          input(type="hidden", name="tablas", value=queryString.tablas)
          input(type="hidden", name="roles", value=queryString.roles)
      if btn
       div 
        a(href=href class="btn btn-secondary btn-add"  role="button" type="button" )= btn