nav(class="navbar navbar-expand-lg bg-body-tertiary ")
  .container-fluid.d-flex.justify-content-between
   div.position-absolute.top-0.start-0
    a.navbar-brand(href="/tecBioq") 
     img(src="/images/logo.jpg", alt="logo laboratorio ULP" class="logo ")
   div.logo  
   div.d-flex-flex-column  
    button.navbar-toggler(type="button" 
                           data-bs-toggle="collapse" 
                           data-bs-target="#navbarSupportedContent" 
                           aria-controls="navbarSupportedContent" 
                           aria-expanded="false" 
                           aria-label="Toggle navigation")
      span.navbar-toggler-icon 
    div.collapse.navbar-collapse#navbarSupportedContent
     ul.navbar-nav.ms-auto.mb-2.mb-lg-0
      li.nav-item
       a.nav-link.active.dropdown-toggle(aria-current="page" 
                                         href="#"
                                         role="button" 
                                         data-bs-toggle="dropdown" 
                                         aria-expanded="false"
                                         ) Salir                               

    div.collapse.navbar-collapse#navbarSupportedContent
     ul.navbar-nav.me-auto.mb-2.mb-lg-0
      li.nav-item
       a.nav-link.active(aria-current="page" 
                                         href=`http://localhost:3000/tecBioq`
                                         role="button" 
                                         aria-expanded="false"
                                         ) Examenes
 
      li.nav-item
       a.nav-link(href="http://localhost:3000/tecBioq/determinaciones"
                                  aria-expanded="false"
                                  role="button") Determinaciones
      li.nav-item
       a.nav-link(href="http://localhost:3000/tecBioq/muestras"
                                  aria-expanded="false"
                                  role="button") Muestras  
      li.nav-item
       a.nav-link(href="http://localhost:3000/tecBioq/ordenes"
                                  aria-expanded="false"
                                  role="button") Cargar resultados                                                      
