extends layout
append styles 
      link(rel='stylesheet', href='/stylesheets/admins2/clickUsuario.css')
      link(rel='stylesheet', href='/stylesheets/tecBioq/listaUsuario.css')
include ./modalEliminar       
block aside 
    include ./menuLateralClickUsuario.pug
block content
  #divContentLista
     include ../listaDatosUsuarios
     - oculto=true
     +formUsuario(usuario,true)
     +formPaciente(usuario.Paciente,usuario.id,true)
     +formBioquimico(usuario.Bioquimico,usuario.id,true)
     +formTecnico(usuario.Tecnico,usuario.id,true)
     - console.log("usuario")
     - console.log(usuario)
     if rta
      div(class=`alert alert-${rta.alertType} alert-dismissible fade show` role="alert")
       strong 
           | #{rta.alertMessage}
       button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
     #divLista
      div(class='div-usuario')
       h3(class="titulo-lista") Usuario 
       ul(class=`list-group list-group-flush lista-datos-usuario ${usuario.deletedAt?"lista-datos-usuarioEliminado":""}`)
           li(class="list-group-item")= `Nombre: `+usuario.nombre  
           li(class="list-group-item") Apellido: 
               span= usuario.apellido 
           li(class="list-group-item") Documento:
               span= usuario.documento
           li(class="list-group-item") Email:
               span= usuario.email
           li(class="list-group-item") Telefono:
               span= telefonos[0].numero
           li(class="list-group-item") Roles:
               span= rolesString
       .row
          if !usuario.deletedAt
           .col-5(id="colBtnInicioUsuario")         
               button(type="button" class="btn btn-secondary w-100 py-2 btnEditar" id='btnEditarUsuario') Editar
          .col-1()        
           form(action=`/admins2/${usuario.id}/usuario?_method=patch` method="post")
            button(type="submit" class="btn btn-secondary w-10 py-2 btnEliminar")
             if usuario.deletedAt 
              | Activar
             else 
              | Desactivar 



      if usuario.Paciente
       div(class='div-usuario')
        h3(class="titulo-lista") Paciente
        +listaDatosPaciente(usuario.Paciente)
        .row
         if !usuario.Paciente.deletedAt
          .col-5(id="colBtnInicioPaciente")        
           button(type="button" class="btn btn-secondary w-100 py-2 btnEditar" id='btnEditarPaciente') Editar 
         .col-1()        
          form(action=`/admins2/${usuario.id}/paciente?_method=patch` method="post")
           button(type="submit" class="btn btn-secondary w-10 py-2 btnEliminar")
            if usuario.Paciente.deletedAt 
             | Activar
            else 
             | Desactivar 
          


      if usuario.Bioquimico
       div(class='div-usuario')
        h3(class="titulo-lista") Bioquímico
        +listaDatosBioquimico(usuario.Bioquimico)  
        .row
         if !usuario.Bioquimico.deletedAt
          .col-5(id="colBtnInicioBioquimico")        
           button(type="button" class="btn btn-secondary w-100 py-2 btnEditar" id='btnEditarBioquimico') Editar
         .col-1() 
          form(action=`/admins2/${usuario.id}/bioquimico?_method=patch` method="post")
           button(type="submit" class="btn btn-secondary w-10 py-2 btnEliminar")
            if usuario.Bioquimico.deletedAt 
             | Activar
            else 
             | Desactivar
      
      
      
      if usuario.Tecnico
       div(class='div-usuario')
        h3(class="titulo-lista") Técnico 
        .row
         if !usuario.Tecnico.deletedAt
         .col-1() 
          form(action=`/admins2/${usuario.id}/tecnico?_method=patch` method="post")
           button(type="submit" class="btn btn-secondary w-10 py-2 btnEliminar")
            if usuario.Tecnico.deletedAt 
             | Activar
            else 
             | Desactivar


     script(src="/javascripts/errores.js")  
     script(src="/javascripts/admins2/clickUsuario.js")  
     
        