.container.divLista
 ul.list-group.list-group-flush
  if usuarios
             each e in usuarios
               li.list-group-item.list-group-item-action
                 a(class="link-offset-2 link-underline link-underline-opacity-0" href=`http://localhost:3000/admins2/bioquimico/${e.id}`)
                     | #{e.nombre || ''} #{e.apellido || ''} / #{e.email || ''} / #{e.documento || ''}
             - for(let i=usuarios.length; i<limit;i++)
               li.list-group-item.list-group-item-action &nbsp;
             if totalRegistros
               include ../paginado.pug
               +paginado(`http://localhost:3000/admins2?rol=${encodeURIComponent("Bioquímico")}`)