nav(class="navbar navbar-expand-lg bg-body-tertiary ")
  .container-fluid.d-flex.justify-content-between
   div.position-absolute.top-0.start-0
    a.navbar-brand(href="/admins2") 
     img(src="/images/logo.jpg", alt="logo laboratorio ULP" class="logo ")
   div.logo  
   div.d-flex-flex-column  
    button.navbar-toggler(type="button" 
                           data-bs-toggle="collapse" 
                           data-bs-target="#navbarSupportedContent" 
                           aria-controls="navbarSupportedContent" 
                           aria-expanded="false" 
                           aria-label="Toggle navigation")
      span.navbar-toggler-icon 
    div.collapse.navbar-collapse#navbarSupportedContent
     ul.navbar-nav.ms-auto.mb-2.mb-lg-0
      li.nav-item
       a.nav-link.active.dropdown-toggle(aria-current="page" 
                                         href="#"
                                         role="button" 
                                         data-bs-toggle="dropdown" 
                                         aria-expanded="false"
                                         ) Salir                               

    div.collapse.navbar-collapse#navbarSupportedContent
     ul.navbar-nav.me-auto.mb-2.mb-lg-0
      li.nav-item.dropdown
       a.nav-link.active(aria-current="page" 
                                         href=`http://localhost:3000/admins2=${encodeURIComponent("Bioquímico")}`
                                         role="button" 
                                         aria-expanded="false"
                                         ) Registrar usuario
      // 
       ul.dropdown-menu(aria-labelledby="navbarDropdown")
        li
          a.dropdown-item(href=`http://localhost:3000/admins2/form?rol=${encodeURIComponent("Bioquímico")}`) Bioquímicos
        li
          a.dropdown-item(href=`http://localhost:3000/admins2/form?rol=${encodeURIComponent("Técnico")}`) Técnicos
      li.nav-item
       a.nav-link(href="http://localhost:3000/admins2/muestras"
                                  aria-expanded="false"
                                  role="button") Ordenes                           