extends layout
append styles 
      link(rel='stylesheet', href='/stylesheets/admins2/clickUsuario.css')
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
      link(rel='stylesheet', href='/stylesheets/inputDataList.css')
      link(rel='stylesheet', href='/stylesheets/card.css')
block content
    if rta
     div(class=`alert alert-${rta.alertType} alert-dismissible fade show` role="alert" id="alert")
      strong 
          | #{rta.alertMessage}
      button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
      if rta.origen==="postOrden"
          include ./rtaCargarOrden.pug
    .row.w-100.justify-content-center 
     .col-lg-9.col-xxl-8
      .row
       include ./menuLateral.pug
       .col.bordeAzul
        .row#rowFormularios
           .col.my-5
            .col-lg-10.mx-auto(id="divLista" class=`${rta && rta.origen==="postOrden"?'oculto':''}`)
             ul(class=`list-group list-group-flush lista-datos-usuario`)
                 li(class="list-group-item")= `Nombre: `+usuario.nombre  
                 li(class="list-group-item") Apellido: 
                     span= usuario.apellido 
                 li(class="list-group-item") Edad: 
                     span= paciente.edad 
                 li(class="list-group-item") Documento:
                     span= usuario.documento
                 li(class="list-group-item") Email:
                     span= usuario.email
                 li(class="list-group-item") Telefono:
                     span 
                      if telefonos.length>0
                       | #{telefonos[0].numero}
                      else 
                       | noo 
                 li(class="list-group-item") Fecha de nacimiento:
                     span=  paciente.nacimiento? new Date(paciente.nacimiento + 'T12:00:00').toLocaleDateString('es-AR'): "fecha no registrada"
                 li(class="list-group-item")= "Embarazada: "
                     span= paciente.embarazada?"si":"no"
                 li(class="list-group-item") Provincia: 
                     span= paciente.provincia
                 li(class="list-group-item") Localidad: 
                     span= paciente.localidad
                 li(class="list-group-item") Dirección:
                     span= paciente.direccion
                 li(class="list-group-item") Sexo:
                     span= paciente.sexo   
            include ../listaDatosUsuarios.pug
            include ../forms/formPaciente.pug
            +formPaciente("divForm",true,true)
            include ./formOrden.pug
            +formOrden("divFormOrden1", false)
            - const estadosEditables=[1,2]
            include ./ordenesNoInformadas.pug      
                    
            script. 
              window.rta = !{JSON.stringify(rta)};    
            script( type="module" src='/javascripts/administrador/formOrden.js')        