.container
 form(action=`/admins/muestra?_method=put` method="post")
  input(type='hidden' name="OrdenId" value=orden.id)
  input(type='hidden' name="UsuarioId" value=usuario.id)
  .row.mt-4.justify-content-center
   .col-md-auto.d-flex.align-items-center
    table.table.card-text
             caption 
              button(class="btn btn-outline-secondary") Guardar cambios
             thead
                 tr
                     th Muestra
                     th Presentada
                     th Presentar
             tbody
                 each muestra in orden.muestrasRequeridas
                     tr(class=muestra.isPresentada ? '' : 'not-presented')
                         td= muestra.muestra
                         td= muestra.isPresentada ? "si" : "no"
                         td 
                          input(
                                 type="checkbox",
                                 name=`muestrasRequeridas`,
                                 value=`${muestra.id}`,
                                 checked=muestra.isPresentada
                               )
                 tr
                  td(colspan="3" class="text-center") 
                   a(href=`http://localhost:3000/admins/pdf?${(new URLSearchParams({
                    ordenId: orden.id,
                    personaId: paciente.id,
                    nombre: usuario.nombre,
                    apellido: usuario.apellido,
                    documento: usuario.documento
                   })).toString()}`) imprimir etiqueta 