.container.d-flex.justify-content-center.flex-column#rta(class=`alert alert-${rta.alertType} alert-dismissible fade show` role="alert")
  if rta.alertType && rta.alertMessage
  if rta.origen && rta.origen==='postOrden'  
   h1 Detalles de la Orden
   if rta.muestrasRequeridas && rta.muestrasRequeridas.length
    h2 Muestras Requeridas
     ul
      each muestra in rta.muestrasRequeridas
       li #{muestra.nombre}
   if rta.examenesNoRealizados && rta.examenesNoRealizados.length
    h2 Exámenes No Realizados
     ul
      each examen in rta.examenesNoRealizados
       li= ` ${examen.nombre} (${examen.laboratorioQueLoRealiza})`
 
   if rta.fechaResultados
    h2 Fecha en que estarán listos los resultados: 
     ul 
      li= `${new Date(rta.fechaResultados).toLocaleDateString('es-AR')}`